@import "js-pug";
@import "js-load-modules";
@import "jquery-demo-module";
.wrapper {
    margin: 0 100px
}
p {
    color: grey; // This is fucking govno
}
.content-block {
    margin: 0 0 0 32px;
    padding: 0 10px;
    border-left: solid 1px grey;
    &__title {
        margin: 0
    }
    &__line {
        margin: 0
    }
}