doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(href="styles/normalize.css" rel="stylesheet")
        link(href="styles/main.css" rel="stylesheet")
        title bs-components with js
    body
        p(id="just_text") just text
        .wrapper
            .example-collapse
                h3.bs-components-title !! Collapse
                p Необходим импорт _transitions.scss и collapse.js
                p
                    a.btn.btn-primary(data-bs-toggle="collapse" href="#collapseExample" role="button" aria-control="collapseExample") Link with href
                    button.btn.btn-primary(type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample") Button with data-bs-target
                .collapse(id="collapseExample")
                    .card.card-body Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            .example-dropdowns
                h3.bs-components-title !! Dropdowns
                .container-fluid
                    .row
                        .col
                            .dropdown
                                button.btn.btn-secondary.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false") Кнопка Dropdown
                                ul.dropdown-menu
                                    li
                                        a.dropdown-item(href="#") Action
                                    li
                                        a.dropdown-item(href="#") Another action
                                    li
                                        a.dropdown-item(href="#") Something else here
                        .col
                            .dropdown
                                a.btn.btn-secondary.btn-lg.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Ссылка Dropdown
                                ul.dropdown-menu
                                    li
                                        a.dropdown-item(href="#") Первый пункт
                                    li
                                        a.dropdown-item(href="#") Второй пункт
                                    li
                                        a.dropdown-item(href="#") Третий пункт
            .example-modal
                h3.bs-components-title !! Modal
                p  Статическое окно
                // Кнопка, которая запускает модальное окно:
                button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#exampleModal") Запустить демо модального окна
                // Само модальное окно
                .modal.fade(id="exampleModal" tabindex="-1" aria-labeledby="exampleModalLabel" aria-hidden="true")
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h5.modal-title(id="exampleModalLabel") Заголовок модального окна
                                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Закрыть")
                            .modal-body
                                p Здесь у нас может быть любой текст.
                                p И ещё какой-нибудь текст
                            .modal-footer
                                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Закрыть
                                button.btn.btn-primary(type="button") Сохранить изменения
            .example-offcanvas
                h3.bs-components-title Offcanvas
                // Кнопки, которые вызывают Offcanvas
                a.btn.btn-primary(href="#offcanvasExample" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasExample") Link with href
                button.btn.btn-primary(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample") Button with data-bs-target
                // Сам Offcanvas
                .offcanvas.offcanvas-start(tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel")
                    .offcanvas-header
                        h5.offcanvas-title(id="offcanvasExampleLabel") Offcanvas
                        button.btn-close(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
                    .offcanvas-body
                        div Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                        .dropdown.mt-3
                            button.btn.btn-secondary.dropdown-toggle(type="button" data-bs-toggle="dropdown") Dropdown button
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href="#") Action
                                li
                                    a.dropdown-item(href="#") Another action
                                li
                                    a.dropdown-item(href="#") Something else here
            .example-ppp
                h3.bs-components-title alala 
                <div class="row">
                    <div class="col-4">
                        <div id="list-example" class="list-group">
                            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0" style="position: relative; overflow-y: scroll; height: 250px">
                            <h4 id="list-item-1">Item 1</h4>
                            <p>...</p>
                            <p>...</p>
                            <p>...</p>
                            <p>...</p>
                            <h4 id="list-item-2">Item 2</h4>
                            <p>...</p>
                            <p>...</p>
                            <p>...</p>
                            <p>...</p>
                            <h4 id="list-item-3">Item 3</h4>
                            <p>...</p>
                            <p>...</p>
                            <p>...</p>
                            <p>...</p>
                            <h4 id="list-item-4">Item 4</h4>
                            <p>...</p>
                            <p>...</p>
                            <p>...</p>
                            <p>...</p>
                        </div>
                    </div>
                </div>
            .example-toasts
                h3.bs-components-title Toasts
                p scss-файл называется "toasts.css", а вот js-файл - в единственном числе: "toast.js". Такие дела, блин.
                p Чтобы отобразить шаблон тоста из примеров в bootstrap-доках, нужно добавить к классу "toast" класс "show".
                p Класс "hide", наоборот, прячет элементы.
                .toast.show(role="alert" aria-live="assertive" aria-atomic="true")
                    .toast-header
                        img.rounded.me-2(src="..." alt="...")
                        strong.me-auto Bootstrap
                        small 11 min ago
                        button.btn-close(type="button" data-bs-dismiss="toast" aria-label="Close")
                    .toast-body
                        | Hello, world! This is a toast message.
               
                p Чтобы по нажатию кнопки сделать Toast видимым, нужно прописать скрипт: $("#myBtn").click(function() {$("#myToast").toast("show")})
                p Кнопка "show toast" и сам Toast друг к другу автоматически не привязываются. Или я пока не понял, как это сделать.
                button.btn.btn-primary(type="button" id="liveToastBtn") Show live toast
                .toast-container.position-fixed.bottom-0.end-0.p-3
                    .toast(id="liveToast" role="alert" aria-live="assertive" aria-atomic="true")
                        .toast-header
                            img.rounded.me-2(src="..." alt="...")
                            strong.me-auto Bootstrap
                            small 12 mins ago
                            button.btn-close(type="button" data-bs-dismiss="toast" aria-label="Close")
                        .toast-body
                            |   Hello, world! This is a toast message.
                h4 Что осталось непонятным
                p Тот Toast, который мы запустили кнопкой, закрывается плавно, когда мы нажимаем кнопку "Закрыть". А первый пропадает мгновенно.






        

        //script(src="scripts/bs-components-entry.js" type="text/javascript")
        script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
        script(src="./../node_modules/bootstrap/dist/js/bootstrap.bundle.js" type="text/javascript")
        <script>
            | // Проверяем, подключен ли jQuery
            | $("#just_text").css("color", "red");
            | // Делаем Toast видимым
            | $(document).ready(function() {
            |       $("#liveToastBtn").click(function() {
            |           $("#liveToast").toast("show");
            |       })
            | });
        </script>
        
        