doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(charset="UTF-8")
        link(href="styles/normalize.css" rel="stylesheet")
        link(href="styles/main.css" rel="stylesheet")
        title Index4
    body
        .wrapper
            h3.bs-bp-title Контрольные точки Bootstrap'а
            p Контрольные точки настраиваются с помощью Sass. Их можно найти на карте Sass в нашей таблице стилей _variables.scss.
                code.code-container
                    p.code-line $grid-breakpoints: (
                    p.code-line.code-line__tab xs: 0,
                    p.code-line.code-line__tab sm: 576px,
                    p.code-line.code-line__tab md: 768px,
                    p.code-line.code-line__tab lg: 992px,
                    p.code-line.code-line__tab xl: 1200px,
                    p.code-line.code-line__tab xxl: 1400px
                    p.code-line );
            p.bs-bp-line тратата
            p.bs-bp-example Этот текст синий.