doctype html
html
    head
        title Хреновина в заголовке
        link(
            href = "styles/main.css"
            rel = "stylesheet"
        )
    body
        p Это наша первая и пока единственная запись на страничке 2.
        p Это наша вторая и уже не единственная запись на страничке.
        p Третья строка. Ура.
        script(
            src = "scripts/main.js"
            type = "text/javascript"
        )