doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(charset="UTF-8")
        link(href="styles/normalize.css" rel="stylesheet")
        link(href="styles/main.css" rel="stylesheet")
        title Index4
    body
        .wrapper
            h3.bs-bp-title Контрольные точки Bootstrap'а
            p Контрольные точки настраиваются с помощью Sass. Их можно найти на карте Sass в нашей таблице стилей _variables.scss.
                code.code-container
                    p.code-line $grid-breakpoints: (
                    p.code-line.code-line__tab xs: 0,
                    p.code-line.code-line__tab sm: 576px,
                    p.code-line.code-line__tab md: 768px,
                    p.code-line.code-line__tab lg: 992px,
                    p.code-line.code-line__tab xl: 1200px,
                    p.code-line.code-line__tab xxl: 1400px
                    p.code-line );
            p Тут мы переопределили контрольные точки
                code.code-container
                    p.code-line $grid-breakpoints: (
                    // Далее у нас идут пустые эл-ты, чтобы через css добавить в них значения
                    p.code-line.code-line__tab.code-line__tab-xs ,
                    p.code-line.code-line__tab.code-line__tab-sm ,
                    p.code-line.code-line__tab.code-line__tab-md ,
                    p.code-line.code-line__tab.code-line__tab-lg ,
                    p.code-line.code-line__tab.code-line__tab-xl ,
                    p.code-line.code-line__tab.code-line__tab-xxl
                    p.code-line );
            h4.bs-bp-title Миксин 
                span.bs-bp-mono "media-breakpoint-up"
            p.bs-bp-line То же самое, что и свойство 
                span.bs-bp-mono min-width 
                | обычного медиа-запроса.
            p.bs-bp-example Этот текст синий.

            h4.bs-bp-title Миксин 
                span.bs-bp-mono "media-breakpoint-down"
            p.bs-bp-line То же самое, что свойство 
                span.bs-bp-mono max-width
                | .
            p.bs-bp-example2 Этот текст синий.