doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(charset="UTF-8")
        link(href="styles/normalize.css", rel="stylesheet")
        link(href="styles/main.css", rel="stylesheet")
        title Брейкпоинты без бутстрапа
    head
        .wrapper
            h3.title Здесь мы поизучаем брейкпоинты без бутстрапа
            p.line опробуем свойство min-width медиа-запроса:
            p.line__example Этот текст синий.
            p.line опробуем свойство max-width медиа-запроса:
            p.line__example2 Этот текст синий.