doctype html
block variables
html
    head
        title #{title}
        meta(charset = "utf-8")
        meta(name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no")
        link(href = "styles/normalize.css" rel="stylesheet")
        link(href = "styles/main.css" rel = "stylesheet")
    body

        - var luba = 3
        if luba == 5
            p.ggg JOPa
        else
            p.ggg Совсем не жопа

        p(class ={"ksks":luba==2}) asdfaf
        
        block durashka
        block content
        block popik
        block grid
        
        
        script(
            src = "scripts/main.js"
            type = "text/javascript"
        )
