block grid
    .wrapper(style="border: solid 1px blue; border-width: 0 1px 0 1px")
        p.temp Синие линии по бокам - это границы .wrapper'а.
        p.grid-title Посмотрим, как работает класс container
        .container
            .row.justify-content-md-left
                .col-sm Первая из трёх
                .col-sm Вторая из трёх
                .col-sm Третья из трёх
                .col-sm Четв
            .row
                .col-sm Второй ряд, первая из трёх
                .col-sm Второй ряд, вторая
                .col-sm Вт. ряд, третья
                .col-sm Вт. ряд, четвёртая
            .row
                .col-sm 3-й ряд. Первая строка
                .col-sm 3-й ряд. Вторая строка
                .col-sm 3-й ряд. Третья строка
                .col-sm 3-1 ряд. Четвёртая строка

        p.grid-title Посмотрим, как устроен container-fluid
        .container-fluid
            .row
                .col 1-й ряд. Первая строка
                .col 1-й ряд. Вторая строка
                .col 1-й ряд. Третья строка
                .col 1-й ряд. Четвёртая строка
            .row
                .col 2-й ряд. Первая строка
                .col 2-й ряд. Вторая строка
                .col 2-й ряд. Третья строка
                .col 2-й ряд. Четвёртая строка
            .row
                .col 3-й ряд. Первая строка
                .col 3-й ряд. Вторая строка
                .col 3-й ряд. Третья строка
                .col 3-й ряд. Четвёртая строка
        p.temp Пам-пам-пам
        .container
            .row
                .col-sm-4 asdf
                .col-sm-4 asdf
                .col-sm-4 a;sjdf